<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-button (click)="dismiss()">
              <ion-icon name="arrow-back"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title>
          Lista de Medicos
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Pesquisar medicos" [debounce]="100" (ionInput)="pesquisar($event)"></ion-searchbar>
  <ion-list *ngFor="let medico of medicos" button (click)="selecionar(medico)">
          <ion-item [color]="selecionado && selecionado.id === medico.id && 'primary'">
              <ion-label>
                  <ion-text>
                      <h2>
                          <strong>{{medico.nome}}</strong>
                      </h2>
                  </ion-text>
                  <h3>
                      Especialidade: <strong>{{medico.especialidade}}</strong></h3>
              </ion-label>
          </ion-item>
  </ion-list>
</ion-content>
