<ion-header>
  <ion-toolbar color="primary">
      <ion-title>
          Lista de Medicos
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Pesquisar medicos" [debounce]="100" (ionInput)="pesquisar($event)"></ion-searchbar>
  <ion-list>
      <ion-item-sliding *ngFor="let medico of medico">
          <ion-item>
              <ion-label>
                  <ion-text color="primary">
                      <h2>
                          <strong>{{medico.nome}}</strong>
                      </h2>
                  </ion-text>
                  <h3>
                      Especialidade: <strong>{{medico.especialidade}}</strong></h3>
              </ion-label>
          </ion-item>
      </ion-item-sliding>
  </ion-list>
</ion-content>
