<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      {{paciente.id? "Editar paciente": "Cadastrar de paciente"}}
    </ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="content">
    <ion-item-divider class="divider">
      <ion-label>
        Dados de paciente
      </ion-label>
    </ion-item-divider>

    <ion-item>
      <ion-label position="floating">Nome do Paciente</ion-label>
      <ion-input autofocus="true" inputmode="text" maxlength="100" required="true" type="text"
        [(ngModel)]="paciente.nome">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Data de Nascimento</ion-label>
      <ion-datetime displayFormat="DD MMM YYYY" required="true" [(ngModel)]="paciente.nascimento">
      </ion-datetime>
    </ion-item>

    <ion-item button (click)="showSexoPicker()">
      <ion-label>Sexo</ion-label>
      <ion-note slot="end">{{ sexoEnum[paciente.sexo] }}</ion-note>
    </ion-item>

    <ion-item>
      <ion-label position="floating">CPF</ion-label>
      <ion-input inputmode="text" maxlength="14" required="true" [(ngModel)]="paciente.cpf" mask="000.000.000-00">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Telefone</ion-label>
      <ion-input inputmode="number" maxlength="15" required="true" [(ngModel)]="paciente.telefone"
        mask="(00) 00000-0000">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Profissão</ion-label>
      <ion-input inputmode="text" required="true" type="text" [(ngModel)]="paciente.profissao">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Foto do paciente (URL)</ion-label>
      <ion-input inputmode="text" type="text" [(ngModel)]="paciente.fotoUrl">
      </ion-input>
    </ion-item>

    <section class="endereco">
      <ion-item-divider class="divider">
        <ion-label>
          Endereço
        </ion-label>
      </ion-item-divider>

      <ion-item>
        <ion-label position="floating">CEP</ion-label>
        <ion-input inputmode="number" required="true" mask="00000-000" [(ngModel)]="paciente.endereco.cep">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Estado</ion-label>
        <ion-select cancelText="Cancelar" okText="Selecionar" interface="alert" [(ngModel)]="paciente.endereco.uf">
          <ion-select-option *ngFor="let estado of estadosOptions" [value]="estado.value">
            {{estado.label}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Cidade</ion-label>
        <ion-input inputmode="text" equired="true" type="text" [(ngModel)]="paciente.endereco.cidade">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Número</ion-label>
        <ion-input inputmode="text" required="true" type="text" [(ngModel)]="paciente.endereco.numero">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Complemento</ion-label>
        <ion-input inputmode="text" type="text" [(ngModel)]="paciente.endereco.complemento">
        </ion-input>
      </ion-item>
    </section>


  </ion-list>
  <section class="actions">
    <ion-button (click)="salvar()" [routerLink]="['/jogo-cad']" color="primary">
      Salvar
      <ion-icon size="large" name="checkmark"></ion-icon>
    </ion-button>

    <ion-button (click)="limpar()" color="danger">
      Limpar
      <ion-icon size="large" name="close-outline"></ion-icon>
    </ion-button>
  </section>
</ion-content>