.content {
    padding: 10px;
}

.endereco {
    padding-top: 20px;
}

.section-label {
    text-align: center;
}

.divider {
    margin-bottom: 10px;
}

ion-item {
    margin-bottom: 20px;
}

.actions {
    display: flex;
    flex-direction: row;
    padding: 10px;
}