<ion-header>
  <ion-toolbar>
    <ion-title>Pacientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let paciente of pacientes">
    <ion-avatar slot="start">
      <img [src]="paciente.fotoUrl">
    </ion-avatar>
    <ion-label>
      <h2>{{paciente.nome}}</h2>
      <p>Endereço: {{paciente.endereco.logradouro}}, {{paciente.endereco.cidade}} - {{paciente.endereco.uf}}</p>
      <ion-row>
        <ion-button color="success" (click)="editarPaciente(paciente)">
          Editar
        </ion-button>
        <ion-button color="danger" (click)="excluirPaciente(paciente)"> 
          Excluir
        </ion-button>
      </ion-row>
    </ion-label>
  </ion-item>

  <div *ngIf="!pacientes.length">
    <h5 style="text-align: center;">
      Nenhum paciente encontrado
    </h5>
  </div>

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button [routerLink]="['cadastro']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>