<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Cadastro de Consulta
    </ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content *ngIf="consulta">
  <ion-list class="content">
    <ion-item-divider class="divider">
      <ion-label>
        Dados da Consulta
      </ion-label>
    </ion-item-divider>

    <ion-item button (click)="abriModalMedicos()">
      <ion-label>Medicos</ion-label>
      <ion-note slot="end" *ngIf="consulta.medico">{{ consulta.medico.nome }}</ion-note>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Data</ion-label>
      <ion-datetime displayFormat="DD MMM YYYY HH:m" required="true" [(ngModel)]="consulta.data">
      </ion-datetime>
    </ion-item>

    <ion-item button (click)="abriModalPaciente()">
      <ion-label>Paciente</ion-label>
      <ion-note slot="end" *ngIf="consulta.paciente">{{ consulta.paciente.nome }}</ion-note>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Descrição</ion-label>
      <ion-input autofocus="true" type="text" inputmode="number" required="true"
        [(ngModel)]="consulta.descricao">
      </ion-input>
    </ion-item>

    <ion-item button (click)="showPrioridadePicker()">
      <ion-label>Prioridade</ion-label>
      <ion-note slot="end">{{consulta.prioridade}}</ion-note>
    </ion-item>


  </ion-list>
  <ion-button (click)="salvar()" color="primary">Adicionar
    <ion-icon size="large" name="checkmark"></ion-icon>
  </ion-button>

  <ion-button (click)="limpar()" color="danger">
    Limpar
    <ion-icon size="large" name="close-outline"></ion-icon>
  </ion-button>

</ion-content>
